.content {
    margin-left: 35%;    
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}



.counterContainer{
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    width: 40%;
    height: 425px;
    background-color: skyblue;
    border: 2px dashed red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .counterLabel{
        font-size: 20px;
        display: flex;
        margin-bottom: 30px;
        font-weight: bold;
        .counterValue {
            margin: 0px;
        }
    }
}


.counterBtn{
    padding: 10px 20px;
    border: 1px solid darkblue;
    color: darkblue;
    background-color: skyblue;
    border: 1px red;
}
.counter {

    padding: 10px 20px;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}